.error {
  margin-top: 70px;
  background-image: url('https://image.freepik.com/free-vector/error-404-concept-landing-page_52683-10996.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}
